[submodule "lib/core"]
	path = lib/core
	url = https://github.com/cindersocket/dfc-core.git
[submodule "lib/tiny-crypto-c"]
	path = lib/tiny-crypto-c
	url = https://github.com/mistial-dev/tiny-crypto-c.git
